<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CHSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CHSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://137.117.92.154/mobile/chs.asmx" binding="basicHttpBinding"
                bindingConfiguration="CHSSoap" contract="CHSSoap" name="CHSSoap" />
            <endpoint address="http://137.117.92.154/mobile/chs.asmx" binding="customBinding"
                bindingConfiguration="CHSSoap12" contract="CHSSoap" name="CHSSoap12" />
        </client>
    </system.serviceModel>
</configuration>